.player-container {
    width: 100%;
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.assets-container {
    width: 80%;
    background: #181d2e;
    height: 60px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    direction: rtl;
    padding: 7px;
}

a.download-button {
    margin: 9px;
    padding: 15px 45px;
    background: #e21913;
    color: white;
    border-radius: 9px;
    font-family: 'Tajawal', sans-serif;
    font-weight: bolder;
    cursor: pointer;
    cursor: pointer;
}

.video-box {
    width: 80%;
}

.video-box video {
	width: -webkit-fill-available;
	height: 520px;
	background-color: black;
}


.video-info {
    position: absolute;
    background: #6a5f5f05;
    width: 80%;
    height: 520px;
}


.video-controls {
    position: absolute;
    bottom: 0;
    height: auto;
    background: #02020275;
    width: -webkit-fill-available;
    z-index: 1000;
}

input.video-time-input {
	-webkit-appearance : none;
    width: 100%;
    height: 4px;
    background-color: #f7f7f7;
}


input.video-time-input::-webkit-slider-thumb {
	-webkit-appearance :none;
	background-color: red;
	width: 15px;
	height: 5px;
}

.video-controls
{
	position: absolute;
	z-index: 100;
	opacity: -1;
}

.player-assets-button {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 25px;
    margin: 25px;
    cursor: pointer;
}


button.full-screen-button.player-assets-button {
    float: right;
}

.video-box:hover .video-controls {
	opacity: 1;
}



.volume-input {
	-webkit-appearance : none;
    background-color: #f7f7f7;
    height: auto;
}


input.volume-input::-webkit-slider-thumb {
	-webkit-appearance :none;
	background-color: red;
	width: 15px;
	height: 5px;
}

h1.video-title {
    direction: rtl;
    font-weight: 900;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
}

.mobile-controls {
    display: none;
}

@media only screen and (max-width: 750px) {
    .video-info {
        display: none;
    }
    .mobile-controls {
        display: block;
    }
}